* {
    margin:0;
    font-family:arial;
    border:border-box;
}

.navbar {
    height:60px;
    background-color: #0f1111;
    color:white;
    display:flex;
    align-items:center;
    justify-content:space-evenly;   
}

.nav-logo {
    height:50px;
    width:100px;
}

.logo {
    background-image: url(amazon_logo.png);
    background-size:cover;
    height:50px;
    width:100px;
}

.nav-logo:hover {
    border:1.5px solid transparent;
}

.logo:hover {
    border:1.5px solid white;
}

.add-first {
    font-size:12px;
    color:#cccccc;
    margin-left:15px;
}

.add-sec {
    font-size:14px;
    color:#ffffff;
    margin-left:3px;
}


.add-icon {
    display:flex;
    align-items:center;
}

.nav-address:hover {
    border:1.5px solid white;
    padding:10px 5px 10px 5px;
}

.nav-search {
    height: 40px;
    width: 620px;
    display:flex;
    border-radius:4px;
    justify-content: space-evenly;
}

.nav-search:hover {
    border:2px solid orange;
}

.search-icon {
    height:40px;
    width:45px ;
    background-color:#febd68;
    display:flex;
    justify-content: center;
    align-items:center;
    border-top-right-radius:4px;
    border-bottom-right-radius:4px;
    border:none;
    font-size:20px;
    color:#0f1111;
}

.search-select {
    background-color: #ffffff;
    width:45px;
    height:40px;
    text-align: center;
    border-top-left-radius:4px;
    border-bottom-left-radius:4px;
    border:none;
}

.search-input {
    width:100%;
    border:none;
}

.search-input:hover {
    border:none;
}


/*box-4*/

span {
    color:#ffffff;
    font-size:12px;
}

.nav-second {
    color:#ffffff;
    font-size:14px;
    font-weight:700;
}

.nav-signin:hover {
    border:1.5px solid white;
    padding:10px 5px 10px 5px;
}

.nav-returns:hover {
    border:1.5px solid white;
    padding:10px 5px 10px 5px;
}


.nav-cart i {
    font-size:30px;
}

.nav-cart {
    font-size:14px;
    font-weight:700;
}

.nav-cart:hover {
    border:1.5px solid white;
    padding:10px 5px 10px 5px;
}

/** panel **/

.panel {
    display:flex;
    justify-content:space-evenly;
    height:40px;
    background-color:#222f3d;
    color:white;
    align-items:center;
}

a {
    text-decoration: none;
    color:white;
    align-content:center;

}

.panel-ops  p {
    display:inline;
    margin-left:10px;
}

.panel-ops p:hover {
    border:1.5px solid white;
    padding:10px 5px 10px 5px;
}
.panel-ops {
    width:70%;
    font-size:14px;
}


.menu {
    padding:8px 9px 8px 9px;
    margin-top:5px;
    margin-bottom:6px;
}

.menu:hover {
    border:1.5px solid white;
}

/**header completed**/

.hero-section {
    background-image:url("hero_image.jpg");
    background-size: cover;
    height:350px;
    display:flex;
    justify-content: center;
    align-items: flex-end;
}

.div1 {
   background-color: white;
   color:black;
   height:40px;
   display:flex;
   align-items: center;
   justify-content: center;
   font: size 0.85em;
   width:97%;
   margin-bottom:25px;

}
.div1 a {
    text-decoration: none;
    color:#007185;
    
}

/** shop section **/

.shop-section {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}

.box {
    /* border:2px solid black; */
    height:400px;
    width:23%;
    background-color: white;
    padding:20px 0px 15px;
    margin-top:15px;
}

.box-img {
    height:300px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top:10px;
    margin-bottom:10px;
}

.box-content {
    margin-left:10px;
    margin-right:10px;
}

.box-content p {
    color:#007185;
}

/** footer **/

footer {
    margin-top:10px;
}

.foot-panel1 {
    background-color:#37475a;
    color:white;
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:13px;
}

.foot-panel2 {
    background-color: #222f3d;
    color:white;
    height:300px;
    display: flex;
    justify-content: space-evenly;
    padding-top:50px;
}

ul a {
    display:block;
    font-size: 14px;
    margin-top:10px;
    color:#dddddd;

}

/** foot-pannel3 **/

.foot-panel3 {
    background-color:#222f3d;
    color:white;
    border-top:0.5px solid white;
    height:70px;
    display: flex;
    justify-content: center;
    align-items:center;
}

.logo1 {
    background-image: url("amazon_logo.png");
    background-size: cover;
    height:50px;
    width:100px;
}


.country {
    border:0.5px solid white;
    padding:5px;
}
.qwe {
    background-color: #222f3d;
    color:white;
    border:transparent;
}

/** panel-4 **/

.foot-panel4 {
    background-color: black;
    height:70px;
    padding-top:25px;
}

.first-div {
    font-size: 12px;
    text-align: center;
}

.second-div {
    color:white;
    font-size:12px;
    text-align: center;
    padding-top:5px;
}
